.ieb-wrapper
    width: 70%
    height: 1000px
    display: inline-block
    float: right
    background: url('assets/img/darkwood.png') repeat
    background-size: auto
    background-size: cover

@media (min-width: 1440px)
    .ieb-wrapper
        width: 65%

@media (min-width: 1600px)
    .ieb-wrapper
        width: 52%

@media (max-width: 1280px)
    .ieb-wrapper
        width: 100%