.ieb-wrapper
    width: 70%
    height: 1000px
    display: inline-block
    float: right
    background: url('assets/img/darkwood.png') repeat
    background-size: auto
    background-size: cover

    &__content
        float: left
        width: 88%

        &--in
            margin: 90px 6% 0 6%

        .ieb-wrapper-inner
            background: #111
            border: 1px solid rgba(255,255,255,0.03)
            box-shadow: 0 -10px 30px rgba(0,0,0,0.7)

@media (min-width: 1440px)
    .ieb-wrapper
        width: 65%

@media (min-width: 1600px)
    .ieb-wrapper
        width: 52%

@media (max-width: 1280px)
    .ieb-wrapper
        width: 100%